@import "./variables.scss";

.navitem {
  font-family: $menu-font;
  display: inline;
  position: relative;
  margin: 0 10px;
  font-size: 24px;
  line-height: 1.5;
  cursor: pointer;
  padding: 0 10px;
  flex-grow: 1;

  a {
    color: #ffe;
    text-decoration: none;
  }

  &:hover {

  }

  &:active {

  }
}
