@import "./fonts.scss";

$bg-color: #2f2f2f;
$color: #fff;
$title-font: 'Kumar One', cursive;
$title-color: #98911b;
$menu-font: 'Ruslan Display', cursive;
$text-font: 'Audiowide', cursive;
$font-size: 2rem;
