@import "./fonts.scss";

$bg-color: #2f2f2f;
$color: #fff;
/*
$title-font: 'Kumar One', cursive;
$menu-font: 'Ruslan Display', cursive;
 */
$title-font: 'Audiowide', cursive;
$title-color: #fff;
$text-font: 'Audiowide', cursive;
$menu-font: 'Audiowide', cursive;
$font-size: 2rem;
